<div class="container" ng-controller="SearchCtrl as ctrl">

    <h1>Search Here :</h1>

    <form name="queryForm1" novalidate class="form-inline">
        <div class="form-group">
            <input id="deptName" class="form-control" type="text" name="deptName" ng-model="ctrl.brand"
                   placeholder="Enter brand">
        </div>
        <div class="form-group1">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Department
            </button>
            </div>
            <br>
        <div class="form-group2">
            <input id="Name" class="form-control" type="text" name="Name" ng-model="ctrl.name"
                   placeholder="Enter Product Name">
        </div>
        <div class="form-group2">
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search with Department Manager Info
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>UPC12 Barcode</th>
            <th>Brand</th>
            <th>Product Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dept in ctrl.departments">
            <td><img src = "http://www.barcodes4.me/barcode/c128a/{{dept.upc12}}.png?IsTextDrawn=1" height="30" width="100"></td>
            <td>{{dept.brand }}</td>
            <td>{{dept.name }}</td>
        </tr>
        </tbody>
    </table>
</div>